
@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input />
<textarea> </textarea>
<a href="https://google.com" style="margin-top:5%" class="button"><button>START QUIZ</button></a>

