
@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="display: grid; grid-template-columns: 1fr; grid-row-gap: 10px; ">

    <input style="margin-left:34%; text-align:center;" placeholder="287346"/>

    <textarea style="max-width:90%; height:200px; resize:none;"> </textarea>

    <div>
        <a href="https://google.com" class="button"><button class="btn btn-primary" style="margin-top:2%; margin-left:42%" type="button">START QUIZ</button></a>
    </div>

</div>


