
@{
    ViewBag.Title = "JoinQuiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="width: 50%;  align-items: center; text-align:center;">

    <h2 style="margin-top:5%; text-align:center;">INSERT CODE TO JOIN THE QUIZ</h2>

    <input  class="form-control" style="align-self:center; margin-left:20%" placeholder="Insert code">

    <div>
        <a href="https://google.com" class="button"><button class="btn btn-primary" style="margin-top:2%;" type="button">JOIN</button></a>
    </div>


</div>

