
@{
    ViewBag.Title = "Join";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container" style="width:50%; align-items:center">
    <h2 style="margin-top:5%; text-align:center;">INSERT CODE TO JOIN THE QUIZ :)</h2>

    <input class="form-control" placeholder="Insert code">

    <a href="https://google.com" class="button"><button>JOIN</button></a>
</div>