@{
    ViewBag.Title = "Home Page";
}

<div style="background-color:white; padding: 0" class="jumbotron">
    <h1 style="text-align:center">DOBRODOŠLI :)</h1>
    <h3>Koristi linkove na headeru za korištenje stranice</h3>
    <h3>Puno sreće, trebat će ti</h3>
</div>
